################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CapaDesconectada/.vs/CapaDesconectada/FileContentIndex/1551bcc1-9197-49c5-a663-503ab11127fc.vsidx
/CapaDesconectada/.vs/CapaDesconectada/FileContentIndex/b7886c5a-de74-4df5-bbc2-bf942bad51dc.vsidx
*.vsidx
